In [1]:
#imports
import pandas as pd
import seaborn as sns
import numpy as np
from matplotlib import pyplot

In [2]:
df = pd.read_csv("Metro_Nashville_Police_Department_Calls_for_Service__2019_.csv")

In [3]:
df.head()

,Event Number,Call Received,Complaint Number,Shift,Tencode,Tencode Description,Tencode Suffix,Tencode Suffix Description,Disposition Code,Disposition Description,Block,Street Name,Unit Dispatched,Sector,Zone,RPA,Latitude,Longitude,Mapped Location
0,PD201900158507,02/20/2019 10:44:46 AM,20190138459,A,50,Theft,R,REPORT,1,M.P.D. REPORT COMPLED,NaN,E CAMPBELL RD,MAPR,NaN,NaN,NaN,NaN,NaN,NaN
1,PD201900135069,02/13/2019 01:10:45 AM,20190117840,C,71,Burglary - Non-Residence,A,ALARM,6,ASSISTED OTHER UNIT,NaN,CHARLOTTE PKE,123C,NaN,NaN,NaN,NaN,NaN,NaN
2,PD201900149088,02/17/2019 12:47:28 PM,20190130236,A,50,Theft,R,REPORT,1,M.P.D. REPORT COMPLED,NaN,CHAPEL AV,213B,NaN,NaN,NaN,NaN,NaN,NaN
3,PD201900148900,02/17/2019 10:46:09 AM,20190129933,A,45,Vehicle Accident - Property Damage,P,PROGRESS,6,ASSISTED OTHER UNIT,1200.0,2ND AV N,410A,C,13,4315.0,36.178,-86.785,"(36.178, -86.785)"
4,PD201900148353,02/17/2019 04:31:56 AM,20190129434,C,43,Want Officer for Investigation / Assistance,P,PROGRESS,8,ADVISED IN CIVIL CASE,100.0,N 1ST ST,415C,C,13,1993.0,36.172,-86.772,"(36.172, -86.772)"

In [8]:
df.shape

(785035, 19)

In [14]:
df.count()

Event Number                  785035
Call Received                 785035
Complaint Number              785035
Shift                         754497
Tencode                       785035
Tencode Description           785035
Tencode Suffix                567571
Tencode Suffix Description    546827
Disposition Code              785035
Disposition Description       783773
Block                         760586
Street Name                   785029
Unit Dispatched               736217
Sector                        752994
Zone                          759604
RPA                           759725
Latitude                      757275
Longitude                     757275
Mapped Location               754258
dtype: int64

In [15]:
df.apply(lambda x: len(x.unique()))

Event Number                  785035
Call Received                 763745
Complaint Number              734935
Shift                              4
Tencode                           52
Tencode Description               92
Tencode Suffix                    30
Tencode Suffix Description        21
Disposition Code                  17
Disposition Description           16
Block                            139
Street Name                    27641
Unit Dispatched                 2620
Sector                             9
Zone                              13
RPA                             1997
Latitude                         436
Longitude                        529
Mapped Location                40118
dtype: int64

In [9]:
df_new = df[['Call Received', 'Tencode Description','Disposition Description','Mapped Location']]

In [10]:
df_new.shape

(785035, 4)

In [16]:
df_new['Call Received'].head()

0    02/20/2019 10:44:46 AM
1    02/13/2019 01:10:45 AM
2    02/17/2019 12:47:28 PM
3    02/17/2019 10:46:09 AM
4    02/17/2019 04:31:56 AM
Name: Call Received, dtype: object

In [18]:
df_new['Call Received'] =  pd.to_datetime(df_new['Call Received'])

/Users/zachcornelison/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [20]:
df_new['Call Received'].head(10)

0   2019-02-20 10:44:46
1   2019-02-13 01:10:45
2   2019-02-17 12:47:28
3   2019-02-17 10:46:09
4   2019-02-17 04:31:56
5   2019-02-17 15:30:43
6   2019-01-29 01:43:00
7   2019-02-17 17:20:15
8   2019-02-17 16:37:19
9   2019-02-17 17:52:33
Name: Call Received, dtype: datetime64[ns]

In [21]:
df_new['Call Time'] = [d.time() for d in df_new['Call Received']]

/Users/zachcornelison/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [22]:
df_new.head(10)

,Call Received,Tencode Description,Disposition Description,Mapped Location,Call Time
0,2019-02-20 10:44:46,Theft,M.P.D. REPORT COMPLED,NaN,10:44:46
1,2019-02-13 01:10:45,Burglary - Non-Residence,ASSISTED OTHER UNIT,NaN,01:10:45
2,2019-02-17 12:47:28,Theft,M.P.D. REPORT COMPLED,NaN,12:47:28
3,2019-02-17 10:46:09,Vehicle Accident - Property Damage,ASSISTED OTHER UNIT,"(36.178, -86.785)",10:46:09
4,2019-02-17 04:31:56,Want Officer for Investigation / Assistance,ADVISED IN CIVIL CASE,"(36.172, -86.772)",04:31:56
5,2019-02-17 15:30:43,Want Officer for Investigation / Assistance,ASSISTED CITIZEN,"(36.176, -86.794)",15:30:43
6,2019-01-29 01:43:00,Fixed Post,COMMUNITY POLICING,NaN,01:43:00
7,2019-02-17 17:20:15,Want Officer for Investigation / Assistance,DISREGARD / SIGNAL 9,"(36.28, -86.835)",17:20:15
8,2019-02-17 16:37:19,Want Officer for Investigation / Assistance,M.P.D. REPORT COMPLED,"(36.223, -86.809)",16:37:19
9,2019-02-17 17:52:33,Theft,CITATION - TRAFFIC,"(36.301, -86.699)",17:52:33

In [23]:
df_new['Call Day'] = df_new['Call Received'].dt.day_name()

/Users/zachcornelison/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [24]:
df_new.head(10)

,Call Received,Tencode Description,Disposition Description,Mapped Location,Call Time,Call Day
0,2019-02-20 10:44:46,Theft,M.P.D. REPORT COMPLED,NaN,10:44:46,Wednesday
1,2019-02-13 01:10:45,Burglary - Non-Residence,ASSISTED OTHER UNIT,NaN,01:10:45,Wednesday
2,2019-02-17 12:47:28,Theft,M.P.D. REPORT COMPLED,NaN,12:47:28,Sunday
3,2019-02-17 10:46:09,Vehicle Accident - Property Damage,ASSISTED OTHER UNIT,"(36.178, -86.785)",10:46:09,Sunday
4,2019-02-17 04:31:56,Want Officer for Investigation / Assistance,ADVISED IN CIVIL CASE,"(36.172, -86.772)",04:31:56,Sunday
5,2019-02-17 15:30:43,Want Officer for Investigation / Assistance,ASSISTED CITIZEN,"(36.176, -86.794)",15:30:43,Sunday
6,2019-01-29 01:43:00,Fixed Post,COMMUNITY POLICING,NaN,01:43:00,Tuesday
7,2019-02-17 17:20:15,Want Officer for Investigation / Assistance,DISREGARD / SIGNAL 9,"(36.28, -86.835)",17:20:15,Sunday
8,2019-02-17 16:37:19,Want Officer for Investigation / Assistance,M.P.D. REPORT COMPLED,"(36.223, -86.809)",16:37:19,Sunday
9,2019-02-17 17:52:33,Theft,CITATION - TRAFFIC,"(36.301, -86.699)",17:52:33,Sunday

In [26]:
df_new.head()

,Call Received,Call Time,Call Day,Tencode Description,Disposition Description,Mapped Location
0,2019-02-20 10:44:46,10:44:46,Wednesday,Theft,M.P.D. REPORT COMPLED,NaN
1,2019-02-13 01:10:45,01:10:45,Wednesday,Burglary - Non-Residence,ASSISTED OTHER UNIT,NaN
2,2019-02-17 12:47:28,12:47:28,Sunday,Theft,M.P.D. REPORT COMPLED,NaN
3,2019-02-17 10:46:09,10:46:09,Sunday,Vehicle Accident - Property Damage,ASSISTED OTHER UNIT,"(36.178, -86.785)"
4,2019-02-17 04:31:56,04:31:56,Sunday,Want Officer for Investigation / Assistance,ADVISED IN CIVIL CASE,"(36.172, -86.772)"

In [27]:
df_new.count()

Call Received              785035
Call Time                  785035
Call Day                   785035
Tencode Description        785035
Disposition Description    783773
Mapped Location            754258
dtype: int64

In [28]:
df_new.apply(lambda x: len(x.unique()))

Call Received              763745
Call Time                   86371
Call Day                        7
Tencode Description            92
Disposition Description        16
Mapped Location             40118
dtype: int64

In [41]:
df_new = df_new.assign(
    timeOfDay=pd.cut(
        df_new['Call Received'].dt.hour,
        [-1, 4, 8, 12, 16, 20, 24],
        labels=['Late Night', 'Early Morning', 'Morning', 'Afternoon', 'Evening', 'Night']))

In [42]:
df_new.head()

,Call Received,Call Time,Call Day,Tencode Description,Disposition Description,Mapped Location,timeOfDay
0,2019-02-20 10:44:46,10:44:46,Wednesday,Theft,M.P.D. REPORT COMPLED,NaN,Morning
1,2019-02-13 01:10:45,01:10:45,Wednesday,Burglary - Non-Residence,ASSISTED OTHER UNIT,NaN,Late Night
2,2019-02-17 12:47:28,12:47:28,Sunday,Theft,M.P.D. REPORT COMPLED,NaN,Morning
3,2019-02-17 10:46:09,10:46:09,Sunday,Vehicle Accident - Property Damage,ASSISTED OTHER UNIT,"(36.178, -86.785)",Morning
4,2019-02-17 04:31:56,04:31:56,Sunday,Want Officer for Investigation / Assistance,ADVISED IN CIVIL CASE,"(36.172, -86.772)",Late Night

In [43]:
df_new.rename(columns = {'timeOfDay':'Call Time of Day'}, inplace = True)

In [45]:
df_new = df_new[['Call Received', 'Call Time', 'Call Day', 'Call Time of Day', 'Tencode Description','Disposition Description','Mapped Location']]

In [46]:
df_new.head()

,Call Received,Call Time,Call Day,Call Time of Day,Tencode Description,Disposition Description,Mapped Location
0,2019-02-20 10:44:46,10:44:46,Wednesday,Morning,Theft,M.P.D. REPORT COMPLED,NaN
1,2019-02-13 01:10:45,01:10:45,Wednesday,Late Night,Burglary - Non-Residence,ASSISTED OTHER UNIT,NaN
2,2019-02-17 12:47:28,12:47:28,Sunday,Morning,Theft,M.P.D. REPORT COMPLED,NaN
3,2019-02-17 10:46:09,10:46:09,Sunday,Morning,Vehicle Accident - Property Damage,ASSISTED OTHER UNIT,"(36.178, -86.785)"
4,2019-02-17 04:31:56,04:31:56,Sunday,Late Night,Want Officer for Investigation / Assistance,ADVISED IN CIVIL CASE,"(36.172, -86.772)"

In [47]:
df_new.apply(lambda x: len(x.unique()))

Call Received              763745
Call Time                   86371
Call Day                        7
Call Time of Day                6
Tencode Description            92
Disposition Description        16
Mapped Location             40118
dtype: int64