In [1]:
#imports
import pandas as pd
import seaborn as sns
import numpy as np
from matplotlib import pyplot

In [2]:
df = pd.read_csv("Metro_Nashville_Police_Department_Calls_for_Service__2019_.csv", index_col='Event Number')

In [3]:
df.head()

,Call Received,Complaint Number,Shift,Tencode,Tencode Description,Tencode Suffix,Tencode Suffix Description,Disposition Code,Disposition Description,Block,Street Name,Unit Dispatched,Sector,Zone,RPA,Latitude,Longitude,Mapped Location
Event Number,,,,,,,,,,,,,,,,,,
PD201900158507,02/20/2019 10:44:46 AM,20190138459,A,50,Theft,R,REPORT,1,M.P.D. REPORT COMPLED,NaN,E CAMPBELL RD,MAPR,NaN,NaN,NaN,NaN,NaN,NaN
PD201900135069,02/13/2019 01:10:45 AM,20190117840,C,71,Burglary - Non-Residence,A,ALARM,6,ASSISTED OTHER UNIT,NaN,CHARLOTTE PKE,123C,NaN,NaN,NaN,NaN,NaN,NaN
PD201900149088,02/17/2019 12:47:28 PM,20190130236,A,50,Theft,R,REPORT,1,M.P.D. REPORT COMPLED,NaN,CHAPEL AV,213B,NaN,NaN,NaN,NaN,NaN,NaN
PD201900148900,02/17/2019 10:46:09 AM,20190129933,A,45,Vehicle Accident - Property Damage,P,PROGRESS,6,ASSISTED OTHER UNIT,1200.0,2ND AV N,410A,C,13,4315.0,36.178,-86.785,"(36.178, -86.785)"
PD201900148353,02/17/2019 04:31:56 AM,20190129434,C,43,Want Officer for Investigation / Assistance,P,PROGRESS,8,ADVISED IN CIVIL CASE,100.0,N 1ST ST,415C,C,13,1993.0,36.172,-86.772,"(36.172, -86.772)"

In [4]:
df.shape

(785035, 18)

In [5]:
df.count()

Call Received                 785035
Complaint Number              785035
Shift                         754497
Tencode                       785035
Tencode Description           785035
Tencode Suffix                567571
Tencode Suffix Description    546827
Disposition Code              785035
Disposition Description       783773
Block                         760586
Street Name                   785029
Unit Dispatched               736217
Sector                        752994
Zone                          759604
RPA                           759725
Latitude                      757275
Longitude                     757275
Mapped Location               754258
dtype: int64

In [6]:
df.apply(lambda x: len(x.unique()))

Call Received                 763745
Complaint Number              734935
Shift                              4
Tencode                           52
Tencode Description               92
Tencode Suffix                    30
Tencode Suffix Description        21
Disposition Code                  17
Disposition Description           16
Block                            139
Street Name                    27641
Unit Dispatched                 2620
Sector                             9
Zone                              13
RPA                             1997
Latitude                         436
Longitude                        529
Mapped Location                40118
dtype: int64

In [7]:
df_new = df[['Call Received', 'Tencode Description','Disposition Description','Mapped Location']]
df_new.head()

,Call Received,Tencode Description,Disposition Description,Mapped Location
Event Number,,,,
PD201900158507,02/20/2019 10:44:46 AM,Theft,M.P.D. REPORT COMPLED,NaN
PD201900135069,02/13/2019 01:10:45 AM,Burglary - Non-Residence,ASSISTED OTHER UNIT,NaN
PD201900149088,02/17/2019 12:47:28 PM,Theft,M.P.D. REPORT COMPLED,NaN
PD201900148900,02/17/2019 10:46:09 AM,Vehicle Accident - Property Damage,ASSISTED OTHER UNIT,"(36.178, -86.785)"
PD201900148353,02/17/2019 04:31:56 AM,Want Officer for Investigation / Assistance,ADVISED IN CIVIL CASE,"(36.172, -86.772)"

In [8]:
df_new.shape

(785035, 4)

In [9]:
df_new['Call Received'] =  pd.to_datetime(df_new['Call Received'])

/Users/zachcornelison/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [10]:
df_new['Call Time'] = [d.time() for d in df_new['Call Received']]

/Users/zachcornelison/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [12]:
df_new['Call Day'] = df_new['Call Received'].dt.day_name()

/Users/zachcornelison/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [14]:
df_new.count()

Call Received              785035
Tencode Description        785035
Disposition Description    783773
Mapped Location            754258
Call Time                  785035
Call Day                   785035
dtype: int64

In [15]:
df_new = df_new.assign(
    timeOfDay=pd.cut(
        df_new['Call Received'].dt.hour,
        [-1, 4, 8, 12, 16, 20, 24],
        labels=['Late Night', 'Early Morning', 'Morning', 'Afternoon', 'Evening', 'Night']))

In [16]:
df_new.rename(columns = {'timeOfDay':'Call Time of Day'}, inplace = True)

In [18]:
df_new = df_new[['Call Received', 'Call Time', 'Call Day', 'Call Time of Day', 'Tencode Description','Disposition Description','Mapped Location']]

In [19]:
df_new.head()

,Call Received,Call Time,Call Day,Call Time of Day,Tencode Description,Disposition Description,Mapped Location
Event Number,,,,,,,
PD201900158507,2019-02-20 10:44:46,10:44:46,Wednesday,Morning,Theft,M.P.D. REPORT COMPLED,NaN
PD201900135069,2019-02-13 01:10:45,01:10:45,Wednesday,Late Night,Burglary - Non-Residence,ASSISTED OTHER UNIT,NaN
PD201900149088,2019-02-17 12:47:28,12:47:28,Sunday,Morning,Theft,M.P.D. REPORT COMPLED,NaN
PD201900148900,2019-02-17 10:46:09,10:46:09,Sunday,Morning,Vehicle Accident - Property Damage,ASSISTED OTHER UNIT,"(36.178, -86.785)"
PD201900148353,2019-02-17 04:31:56,04:31:56,Sunday,Late Night,Want Officer for Investigation / Assistance,ADVISED IN CIVIL CASE,"(36.172, -86.772)"

In [20]:
df_new.apply(lambda x: len(x.unique()))

Call Received              763745
Call Time                   86371
Call Day                        7
Call Time of Day                6
Tencode Description            92
Disposition Description        16
Mapped Location             40118
dtype: int64

In [31]:
df_new['Call Day'].value_counts()

Tuesday      127388
Wednesday    124745
Thursday     123400
Friday       119844
Monday       112885
Saturday      92477
Sunday        84296
Name: Call Day, dtype: int64